<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Johannes Bagdenand - A Python Developer in the rise</title>
      <link rel="icon" href="./static/assets/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="./static/scribbler-global.css">
    <link rel="stylesheet" href="./static/scribbler-doc.css">
    <link rel="author" href="humans.txt">
  </head>
  <body>
    <div class="doc__bg"></div>
    <nav class="header">
      <h1 class="logo">Johannes <span class="logo__thin">Bagdenand</span></h1>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="https://www.linkedin.com/in/johannes-bagdenand" class="link link--dark"><i class="fa fa-linkedin"></i> Linkedin</a></li>
        <li class="menu__item"><a href="https://github.com/bagdenaj" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
        <li class="menu__item"><a href="index.html" class="link link--dark"><i class="fa fa-home"></i> Home</a></li>
        <div class="menu__item toggle"><span></span></div>
      </ul>
    </nav>
    <div class="wrapper">
      <aside class="doc__nav">
        <ul>
          <li class="js-btn selected">Telegram Bot</li>
          <li class="js-btn">Passwordchecker</li>
          <li class="js-btn">Sudoku-Solver</li>
          <li class="js-btn">SkinnyTaste Recepies</li>
          <li class="js-btn">HackerNewsDaily</li>
          <li class="js-btn">This website</li>
        </ul>
      </aside>
      <article class="doc__content">
        <section class="js-section">
          <h3 class="section__title">Telegram Bot</h3>
          <p>This bot is designed to make your relationship better. It receives your wishes and stores in a wishlist.
          If you choose to fulfill a wish of your partner you are presentet with two random wishes from their wishlist.
          The bot runs own my selfmade server.
          </p>
          <a href="https://github.com/bagdenaj/wishingwellbot" class="button--primary">View here</a>
        </section>
        <section class="js-section">
          <h3 class="section__title">Passwordchecker</h3>
          <p>Given an txt file that contains your password this program checks if any of your password was ever hacked using the API from
          haveibeenpwned.com.</p>
          <a href="https://github.com/bagdenaj/passwordchecker" class="button--primary">View here</a>
          <a href="https://repl.it/@bagdenaj/passwordchecker" class="button--primary">Try it here</a>
        </section>
        <section class="js-section">
          <h3 class="section__title">Sudokusolver</h3>
          <p>Ever frustrated over an seemingly insolvable sudoku? Worry not! This programm will solve it for you using recursion.
          Ever run out of sudokus? Worry not the sudoku creator is coming up next!</p>
          <a href="https://github.com/bagdenaj/sudoku_solver" class="button--primary">View here</a>
          <a href="https://repl.it/@bagdenaj/sudokusolver" class="button--primary">Try it here</a>
        </section>
        <section class="js-section">
          <h3 class="section__title">SkinnyTaste Recepies</h3>
          <p>This program scrapes the first few pages of the website skinnytaste.com for recepies, including details like calories, recipe keys and protein, carbs and fats.</p>
          <a href="https://github.com/bagdenaj/SkinnyTasteScrape" class="button--primary">View here</a>
        </section>
        <section class="js-section">
          <h3 class="section__title">HackerNewsDaily</h3>
          <p>Run this programm to get every news story with a rating above 100 points from the first three pages of Hacker News.</p>
          <a href="https://github.com/bagdenaj/TopTenHackerNewsDaily" class="button--primary">View here</a>
          <a href="https://repl.it/@bagdenaj/TopTenHackerNewsDaily" class="button--primary">Try it here</a>
        </section>
        <section class="js-section">
          <h3 class="section__title">This Website</h3>
          <p>Well, this is pretty self-explainatory. The site runs with a self-build backend.</p>
          <a href="https://github.com/bagdenaj/portfolio" class="button--primary">View here</a>
          </section>
      </article>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="./static/scribbler.js"></script>
  </body>
</html>